
@{
    ViewBag.Title = "createPub";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .frmauthor {
        font-family: serif;
    }

    .btncreate {
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white;
    }

    table {
        text-align: center;
    }

    th {
        color: white;
        background-color: #17aa67;
    }
</style>

<link href="~/Content/CreateAll.css" rel="stylesheet" />
<h4>QUẢN LÝ CHI TIẾT ĐƠN HÀNG</h4>
<hr />
<form action="/Admin/AminCRUD/CTHoadon" method="post" name="myForm">
    <form class="frmauthor">
        <div class="context">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="background-color:#7b7b7b;">Mã DH</th>
                        <th style="background-color:#7b7b7b;">Mã SP</th>
                        <th style="background-color:#7b7b7b;">Số Lượng</th>
                        <th style="background-color:#7b7b7b;">Đơn giá</th>
                        <th style="background-color:#7b7b7b;">Thành Tiền</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.sklist)
                    {
                        <tr>

                            <td>@item.MaDH</td>
                            <td>@item.MaSP</td>
                            <td>@item.SoLuong</td>
                            <td>@item.DonGia</td>
                            <td>@item.ThanhTien</td>
                          

                        </tr>
                    }

                </tbody>
            </table>
            <div class="text_right_author">

            </div>
        </div>
    </form>
</form>







