
@{
    ViewBag.Title = "createPub";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .frmauthor {
        font-family: serif;
    }

    .btncreate {
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white;
    }

    table {
        text-align: center;
    }

    th {
        color: white;
        background-color: #17aa67;
    }
</style>

<link href="~/Content/CreateAll.css" rel="stylesheet" />
<h4>QUẢN LÝ ĐƠN HÀNG</h4>
<hr />
<form action="/Admin/AminCRUD/Hoadon" method="post" name="myForm">
    <form class="frmauthor">
        <div class="context">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="background-color:#7b7b7b;">Mã HĐ</th>
                        <th  style="background-color:#7b7b7b;">Mã KH</th>
                        <th  style="background-color:#7b7b7b;">Tên KH</th>
                        <th  style="background-color:#7b7b7b;">Địa chỉ</th>
                        <th  style="background-color:#7b7b7b;">SĐT</th>
                        <th  style="background-color:#7b7b7b;">Email</th>
                        <th style="background-color:#7b7b7b;">Ngày Đặt Hàng</th>
                        <th style="background-color:#7b7b7b;">Ngày Giao Hàng</th>
                        <th style="background-color:#7b7b7b;">Trị Giá HĐ</th>
                        <th style="background-color:#7b7b7b;">PTTT</th>
                        <th style="background-color:#7b7b7b;">HTGH</th>
                        <th style="background-color:#7b7b7b;">Tình trạng</th>
                        <th style="background-color:#7b7b7b;"><i class="fa fa-sort"></i> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.sklist)
                    {
                        <tr>

                            <td>@item.MaDH</td>
                            <td>@item.MaKH</td>
                            <td>@item.TenKH</td>
                            <td>@item.DiaChi</td>
                            <td>@item.SDT</td>
                            <td>@item.Email</td>
                            <td>@item.NgayDatHang</td>
                            <td>@item.NgayGiaoHang</td>
                            <td>@item.TriGiaDH</td>
                            <td>@item.PTTT</td>
                            <td>@item.HTGH</td>
                            <td>@item.Dagiao</td>
                            <td>
                                <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon btn-sm" data-original-title="" title="">
                                    <a href="@Url.Action("EditHD", "AminCRUD", new { id = item.MaDH })">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </button>
                                @*<button type="button" rel="tooltip" class="btn btn-success btn-round btn-just-icon btn-sm" data-original-title="" title="">
                                        <a href="@Url.Action("ChitietBookAdmin", "AdminCRUD", new { item.MaSP })">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                    </button>*@

                                <button type="button" rel="tooltip" class="btn btn-danger btn-round btn-just-icon btn-sm" data-original-title="" title="">
                                    <a href="@Url.Action("Delete", "AminCRUD", new { id = item.MaDH })">
                                        <i class="material-icons">
                                            close
                                        </i>
                                    </a>
                                </button>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
            <div class="text_right_author">

            </div>
        </div>
    </form>
</form>







